* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}
/*===== Header ===== */
#navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}

#logo {
  width: 60px;
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-decoration: none;
}

#navbar ul .boton-sub,
#navbar ul .boton-login {
  font-size: 1.5rem;
}
/* ================= */

/*===== Galeria de recetas ===== */
#recetas .posteo {
  transition: transform 1s;
}

#recetas .posteo:hover {
  transform: scale(1.1);
  z-index: 98;
}

#recetas .img-recetas {
  height: 250px;

  object-fit: cover;
}

#recetas button,
#recetas h5 {
  font-size: 1.5rem;
}
#recetas h5 {
  font-family: "Roboto", sans-serif;
}

/* ============================ */

/*===== Modales ===== */
#modalLogin button,
#modalLogin input,
#recuperarPassModal button,
#recuperarPassModal input {
  font-size: 1.5rem;
}

/* ================== */

/*===== Footer ===== */

footer .footer-title {
  font-size: 1.5rem;
}

/* ================ */

/*===== breakpoints ===== */

@media (max-width: 992px) {
  #recetas .posteo {
    transition: none;
  }
  #recetas .posteo:hover {
    transform: none;
  }
}

/* ====================== */
