* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}
/*===== Header ===== */
#navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}
#logo {
  width: 60px;
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-decoration: none;
}

#navbar ul .boton-sub,
#navbar ul .boton-login {
  font-size: 1.5rem;
}
/* ================= */

/*===== Carousel de sub ===== */
#carouselSub .carousel-inner img {
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(40%);
}

/* ========================= */

/*===== Formululario de suscripcion =====*/
#suscribirse input,
#suscribirse button {
  font-size: 1.5rem;
}

/* ===================================== */

/*===== Modales ===== */
#modalLogin button,
#modalLogin input,
#recuperarPassModal button,
#recuperarPassModal input {
  font-size: 1.5rem;
}

/* ================== */

/*===== Footer ===== */

footer .footer-title {
  font-size: 1.5rem;
}

/* ================ */
