* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
}
/*===== Header ===== */

#logo {
  width: 60px;
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

#navbar ul .boton-sub,
#navbar ul .boton-login {
  font-size: 1.5rem;
}
/* ================= */

/*===== Modales ===== */
#modalLogin button,
#recuperarPassModal button {
  font-size: 1.5rem;
}

/* ================== */

/*===== Portada de la pagina de inicio ===== */
.contenedor-portada {
  position: relative;
}
.contenedor-portada .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}
.contenedor-portada .title-overlay {
  font-family: "Roboto", sans-serif;
}
.contenedor-portada .overlay a {
  font-size: 1.5rem;
}

/* ======================================== */

/*===== Banner info ===== */
#banner-info .container-fluid {
  background-color: black;
  color: white;
}

#banner-info img {
  object-fit: cover;
}

#banner-info .container-fluid h2 {
  font-family: "Roboto", sans-serif;
}

#banner-info .title-info {
  font-size: 3rem;
}

#banner-info a {
  font-size: 1.5rem;
}

/* ====================== */

/*===== Formulario para dejar comentarios =====*/
#formulario-comentario h2 {
  font-size: 3rem;
}
#formulario-comentario input,
#formulario-comentario textarea,
#formulario-comentario button {
  font-size: 1.5rem;
}
#formulario-comentario textarea {
  resize: none;
}
/* =========================================== */

/*===== Comentarios (Simulados)===== */
#comentarios .container .title-info {
  font-size: 3rem;
}

#comentarios .card-title {
  font-size: 2rem;
}
#comentarios .card-text {
  font-size: 1.6rem;
}
/* ================================ */

/*===== Breakpoints ===== */

@media (max-width: 426px) {
  #banner-info .title-info {
    font-size: 2.1rem;
  }

  #banner-info .container-fluid h2,
  #banner-info .container-fluid h3 {
    text-align: center;
  }
  #banner-info .contenedor-sub {
    text-align: center;
  }
  #formulario-comentario h2 {
    font-size: 1.8rem;
  }
  #comentarios .container .title-info {
    font-size: 1.8rem;
  }
  #comentarios .card-title {
    font-size: 1.5rem;
  }
}
/* ====================== */
